{% extends 'portfolio/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<section class="contact">
    <h2>Contact Me</h2>
    
    <!-- Contact Information -->
    <div class="contact-info">
        <p><strong>Email:</strong> <a href="mailto:your.email@example.com">your.email@example.com</a></p>
        <p><strong>Phone:</strong> +1234567890</p>
    </div>
    
    <!-- Social Media Links -->
    <div class="social-links">
        <a href="https://github.com/QUANTUM00007" target="_blank" class="social-link">
            <i class="fab fa-github social-icon"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/mohdarslan626" target="_blank" class="social-link">
            <i class="fab fa-linkedin social-icon"></i> LinkedIn
        </a>
        <a href="https://twitter.com/near_gift" target="_blank" class="social-link">
            <i class="fab fa-twitter social-icon"></i> Twitter
        </a>
        <a href="https://www.instagram.com/yourusername" target="_blank" class="social-link">
            <i class="fab fa-instagram social-icon"></i> Instagram
        </a>
    </div>
</section>
{% endblock %}
